@import "../../../../public/declare_fonts";
@import "../common/settings.scss";

header {
  position: fixed;
  z-index: 99;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 2.25rem;

  display: flex;
  align-items: center;

  &>img {
    opacity: 0.4;
    height: 100%;
    margin-right: 0.75rem;
  }

  .title {
    width: 100%;
    text-align: center;

    &-up {
      color: $Color-ML;
      font-size: 1.25rem;
      padding-bottom: 0.3rem;
    }

    &-down {
      color: $Color-S;
      font-size: 0.55rem;
    }
  }

  &__empty {
    height: 100%;
  }
}


.header-wrapper {
  @include padding-desktop;

  display: flex;
  justify-content: space-between;
  align-items: center;
}