.landing {
  /* by header */
  top: -3.5rem;

  /* for cover */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* for owner & arrow */
  position: relative;
}