@import "../../public/declare_colors";

@mixin oneBodyComponent {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.oneBodyComponent {
  background: $Color-G01-B;
}

.oneBodyComponent.is {
  &__scrollable {
    @include oneBodyComponent;
    padding-top: 3.5rem;
    align-items: flex-start;
  }

  &__fixed {
    @include oneBodyComponent;
    height: 100vh;
    position: fixed;
    align-items: center;
  }
}