.arrow {
  align-self: center;
  padding-top: 3.5rem;

  &.fixed {
    position: absolute;
    bottom: -215%;
  }

  &>a {
    text-decoration: none;
  }

  &__down {
    transform: rotate(0deg);
  }

  &__left {
    transform: rotate(90deg);
  }

  &__up {
    transform: rotate(180deg);
  }

  &__right {
    transform: rotate(270deg);
  }
}