@import "../../_common/settings.scss";

.post {
  @include padding-desktop;

  width: 100%;
  position: relative;

  display: flex;
  justify-content: left;
  flex-direction: column;

  &__title-wrapper {
    margin: 1.25rem 0;
  }

  &__content-wrapper {
    position: relative;
    margin: 0 1.5rem;

    display: flex;
    justify-content: left;
    flex-direction: column;
  }
}