.intro-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  &-txt {
    font-family: 'Roboto', sans-serif;

    &__box {
      width: 450px;
    }

    &__lines {
      margin-bottom: 1rem;
    }

    &__eachLine {
      font-size: 1.15rem;
      padding: 0.25rem 0;
    }
  }

  &-img {
    width: 30%;
    min-width: 240px;
    max-width: 300px;
    margin-left: 5%;

    &>img {
      width: 100%;
    }
  }
}