@import "../../../../public/_declare_colors";
@import "../../../_common/settings.scss";

footer {
  z-index: 99;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $Color-B;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  @include padding-desktop;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>.msg {
    font-size: 0.5rem;
    opacity: 0.45;
    margin: 0.2rem 0;
  }

  &__empty {
    height: 100%;
  }
}