/*
 * COLORS
 * ---------------------
    > M : Main
    > ML : Main Light
    > B : Background
    > SL : Sub Light
    > S : Sub
 * ---------------------
 */
$Color-G01-M: #353866;
$Color-G01-ML: #AAABD3;
$Color-G01-B: #F8FAFF;
$Color-G01-SL: #E4C4DD;
$Color-G01-S: #CBA6C3;

/*
 * SELECTED
 */
$Color-M: $Color-G01-M;
$Color-ML: $Color-G01-ML;
$Color-B: $Color-G01-B;
$Color-SL: $Color-G01-SL;
$Color-S: $Color-G01-S;