/* FONTS */
$Font-HOME: "/static/fonts";

$Font-Ubuntu: "Ubuntu";
$Font-Ubuntu-url: $Font-HOME"/google-ubuntu/Ubuntu-Regular.ttf";
$Font-Ubuntu-type: "ttf";

$Font-SuezOne: "Suez One";
$Font-SuezOne-url: $Font-HOME"/google-suez-one/SuezOne-Regular.ttf";
$Font-SuezOne-type: "ttf";